<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="navbar">
    <div class="logo">Livraria</div>
</header>

<div class="form-box">
    <h2>Criar Conta</h2>

    <input type="text" placeholder="Nome">
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Senha">
    <input type="text" placeholder="CPF">

    <a href="login.html" class="btn">Cadastrar</a>
</div>

</body>
</html> 