<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Livro</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="navbar">
    <div class="logo">Livraria</div>
    <nav>
        <a href="index.html">Home</a>
        <a href="livros.html">Livros</a>
        <a href="login.html">Login</a>
        <a href="carrinho.html">Carrinho</a>
    </nav>
</header>

    <div class="container" style="display:flex; gap:50px; align-items:flex-start;">
    
    <img src="https://via.placeholder.com/300x400">

    <div>
        <h2>Clean Code</h2>
        <p>Autor: Robert C. Martin</p>
        <p class="preco">R$ 79,90</p>
        <p>
            Um guia essencial sobre boas práticas de programação,
            código limpo e desenvolvimento profissional.
        </p>

        <br>

        <label><strong>Quantidade:</strong></label><br>
        <input type="number" value="1" min="1" style="width:80px; padding:8px; margin:10px 0;">

        <br>

        <a href="carrinho.html" class="btn">Adicionar ao Carrinho</a>
    </div>

</div>

</body>
</html>