<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Livraria</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<header class="navbar">
    <div class="logo">Livraria</div>
    <nav>
        <a href="index.html">Home</a>
        <a href="livros.html">Livros</a>
        <a href="login.html">Login</a>
        <a href="carrinho.html">Carrinho</a>
    </nav>
</header>

<section class="banner">
    <h1>Descubra histórias incríveis</h1>
    <p>Os melhores livros físicos você encontra aqui.</p>
</section>

<div class="container">
    <h2>Destaques</h2>
    <div class="grid">
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/81Rnac2Fq+L._SY342_.jpg">
            <h3>Clean Code</h3>
            <p class="preco">R$ 79,90</p>
            <a href="detalhe.html" class="btn">Ver Detalhes</a>
        </div>

        <div class="card">
            <img src="https://tse3.mm.bing.net/th/id/OIP.WME8nDcRVHMw8xsk4aNBlwHaKN?rs=1&pid=ImgDetMain&o=7&rm=3">
            <h3>JavaScript Moderno</h3>
            <p class="preco">R$ 99,90</p>
            <a href="detalhe.html" class="btn">Ver Detalhes</a>
        </div>
    </div>
</div>

<footer>
    © 2026 Livraria
</footer>

</body>
</html>